[submodule "CMakeModules"]
	path = CMakeModules
	url = https://github.com/DavidZemon/PropWare-Build.git
[submodule "cryptoauthlib"]
	path = cryptoauthlib
	url = https://github.com/MicrochipTech/cryptoauthlib.git
